<?xml version="1.0" encoding="UTF-8"?>

<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

    <display-name>Vending Machine by Hemant</display-name>
    <description>
        Vending Machine Simulation
    </description>
	
	<servlet> 
     	<servlet-name>log4j-init</servlet-name>
     	<servlet-class>application.Log4jInitServlet</servlet-class> 
     	<init-param>
       		<param-name>log4j-properties-location</param-name>
       		<param-value>WEB-INF/classes/properties/log4j.properties</param-value>
     	</init-param>
     	<load-on-startup>1</load-on-startup>
	</servlet>
	
	<servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>application.LoginServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
	 
    <servlet>
        <servlet-name>Main</servlet-name>
        <servlet-class>application.MainServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Main</servlet-name>
        <url-pattern>/main</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Deposit</servlet-name>
        <servlet-class>application.DepositMoneyServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Deposit</servlet-name>
        <url-pattern>/deposit</url-pattern>
    </servlet-mapping>

     <servlet>
        <servlet-name>Product</servlet-name>
        <servlet-class>application.DispenseProductServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Product</servlet-name>
        <url-pattern>/product</url-pattern>
    </servlet-mapping>
	
	<servlet>
		<servlet-name>resteasy-servlet</servlet-name>
		<servlet-class>
			org.jboss.resteasy.plugins.server.servlet.HttpServlet30Dispatcher
        </servlet-class>
		<init-param>
			<param-name>javax.ws.rs.Application</param-name>
			<param-value>application.RestAPIApplication</param-value>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>resteasy-servlet</servlet-name>
		<url-pattern>/rest/*</url-pattern>
	</servlet-mapping>

 
</web-app>     
